            body{
                margin: 0px;
                padding: 0px;
                font-family: sans-serif;
                background: pink;
               
            }
            .box{
                width: 500px;
                padding: 50px;
                position: absolute;
                background: #191919;
                text-align: center;
                top: -10%;
                left: 48%;
                transform: translate(-50%,50%);
                box-sizing: border-box;
            }
            .box h1{
                color: white;
                text-transform: uppercase;
                font-weight: 500;
            }
            .box input[type ='text'], .box input[type='password']{
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                padding: 14px 10px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }
            .box input[type ='submit']:hover{
                background: #2ecc71;

            }
            .box input[type= 'submit']{
                 border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                padding: 14px 10px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }
            